* {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper {
    display: flex;
    width: 400px;
    background: rgba(100, 92, 77, 0.842);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.wrapper h1 {
    font-size: 30px;
    text-align: center;
}

.wrapper label {
    font-size: 20px;
    text-align: center;
}

.wrapper input[type="text"] {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    box-sizing: border-box;
    border: none;
    padding: 20px 20px 20px 20px;
}

.button {
    display: block; /* Makes the buttons appear below each other */
    background-color: #4CAF50;
    color: white; /*Text color*/
    border: none;
    border-radius: 25px; /*Curvy edges*/
    width: 100%; /* Optional: makes the buttons take full width */
    padding-top: 10px;
    padding-bottom: 10px;
}